.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movieItem {
  width: 240px;
  height: 100px;
  margin-top: 20px;
  background-color: aqua;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.movieName {}

.movieGenre {}

.movieAuthorName {}
